.category-block {
  margin-top: 10vh;
}

.categories-tab {
  position: relative;
  margin-top: 2vh;
  margin-left: 6.7vw;
  margin-right: 3vw;
  border-bottom: solid #c4c4c4 1px;
}
.category {
  padding: 1.5vw;
  margin: 2vw;
  text-align: center;
  position: relative;
  margin-bottom: 3vw;
  border: solid black 1px;
}

.category:hover {
  background-color: RGB(36, 187, 187);
  filter: invert(100%);
}

.category-icon {
  width: 3vw;
  height: 3vw;
  object-fit: contain;
}

.category-name {
  font-size: 1vw;
}
